.car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  max-width: 320px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.car-card img {
    display: flex;
    align-items: center;
  width: 100%;
  border-radius: 8px;
}
